.scoreboard
{
    margin: 15px auto;
    border: 1px solid #aaa;
    border-collapse: collapse;
    overflow: hidden;
}

.scoreboard-head
{
    padding: 0 10px;
}

.scoreboard-cell,
.scoreboard-form,
.filter
{
    text-align: center;
}

.scoreboard-cell,
.scoreboard-head
{
    position: relative;
}

.scoreboard-line:nth-child(odd) .scoreboard-cell:before
{
    content: "";
    background: #F63552;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.scoreboard-form-title
{
    margin: 0 0 10px;
    font-size: 18px;
}

.scoreboard-line:hover
{
    background: khaki;
}

.scoreboard-cell:hover::after
{
    content: '';
    display: block;
    position: absolute;
    top: -1000px;
    bottom: 0;
    background: #cfc ;
    z-index: -1;
    height: 10000px;
    width: 100%;
}

input:valid
{
    background-color: #ddffdd;
}

.scoreboard-form:invalid .scoreboard-form-button
{
    display: none;
}

.scoreboard-form:valid .scoreboard-form-button
{
    display: inline;
}
